table.art-report-theme thead th {
    min-width: 8vw;
    background: #ffffff;
    color: var(--his-font-color);
    border: 1px solid rgb(224, 224, 224);
    padding: 0.2em;
    font-size: 1.1rem;
    border-bottom: 2px solid #3333 ;
}

table.art-report-theme tbody td {
    border: 1px solid rgb(224, 224, 224);
    min-height: 5vh;
}

/* OPD Datatable theme */
table.opd-report-theme thead th {
  color: var(--his-font-color);
  border: 1px solid rgb(224, 224, 224);
  border-bottom: 2px solid #3333 ;
  background-color: white;
}

table.opd-report-theme tbody td {
  border: 1px solid rgb(224, 224, 224);
}

/* EMC Datatable theme */
table.emc-datatable-theme {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 18px;
  }
  
  table.emc-datatable-theme th {
    background: rgb(0, 58, 106);
    font-size: 16px;
    color: rgb(255, 255, 255);
  }

  table.emc-datatable-theme th,
  table.emc-datatable-theme td {
    padding: 5px;
    border: 1px solid #ddd;
    border-collapse: collapse;
  }
  
  table.emc-datatable-theme tr:nth-child(even) {
    background-color: #f2f2f2;
  }